# https://www.semi.technology/documentation/weaviate/current/client-libs/python.html
weaviate-client>=2.3.1
# https://pypi.org/project/pylodstorage/
pylodstorage
# https://github.com/gabrieldemarmiesse/python-on-whales
python-on-whales
